In [2]:
weekday = ['星期一','星期二','星期三','星期四','星期五','星期六','星期日']
type(weekday)

list

In [3]:
weekday[-3]

'星期五'

In [8]:
weekday[0:3]
weekday[3:]
weekday[:3]
weekday[1:3]
weekday[:-3]

['星期一', '星期二', '星期三', '星期四']

In [15]:
for day in weekday:
   print(day)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [23]:
codes = {"tw":"taiwan","jp":"japan","hk":"hong kong"}
codes

{'tw': 'taiwan', 'jp': 'japan', 'hk': 'hong kong'}

In [24]:
codes["tw"]

'taiwan'

In [26]:
for key in codes:
    print(key)
    print(codes[key])
    print("======")

tw
taiwan
======
jp
japan
======
hk
hong kong
======

In [27]:
#set
citys = {'台北','台中','高雄','台北','台中','高雄'}
citys

{'台中', '台北', '高雄'}